[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-spritradar
Exec=harbour-spritradar
Name=SpritRadar

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-spiritradar
Permissions=UserDirs;Camera;Location;Internet

